.container {
  align-items: stretch;
  background-color: #fffaf0;
  position: relative;
  display: flex;
  min-height: 1024px;
  flex-direction: column;
  justify-content: start;
}

.content {
  align-self: center;
  z-index: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 991px) {
  .content {
    max-width: 100%;
  }
}

/* Hero Section */
.heroSection {
  width: 100%;
  padding-top: 80px;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: #faf8f9;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 991px) {
  .heroSection {
    max-width: 100%;
    white-space: initial;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 320px;
  width: 100%;
  padding: 108px 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .heroContent {
    max-width: 100%;
    padding: 100px 0;
    white-space: initial;
  }
}

.heroBackground {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.heroImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.heroTextContainer {
  position: relative;
  max-width: 1280px;
  justify-content: center;
  align-items: stretch;
  display: flex;
  width: 1280px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .heroTextContainer {
    white-space: initial;
  }
}

.heroTitle {
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  font-size: 64px;
  margin: 0;
}

@media (max-width: 991px) {
  .heroTitle {
    max-width: 100%;
    font-size: 40px;
  }
}

.heroSubtitle {
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  margin: 35px 0 0;
}

@media (max-width: 991px) {
  .heroSubtitle {
    max-width: 100%;
  }
}

/* Category Section */
.categorySection {
  max-width: 1280px;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  display: flex;
  width: 1280px;
  flex-direction: column;
  overflow: hidden;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #faf8f9;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  padding: 45px 0;
}

@media (max-width: 991px) {
  .categorySection {
    white-space: initial;
  }
}

.categoryContainer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .categoryContainer {
    max-width: 100%;
    white-space: initial;
  }
}

.arrowIcon {
  aspect-ratio: 1.01;
  object-fit: contain;
  object-position: center;
  width: 71px;
  border-radius: 200px;
  box-shadow: 0px 0px 0px 16px rgba(0, 0, 0, 0.05);
  align-self: stretch;
  margin: auto 0;
  min-height: 71px;
  flex-shrink: 0;
}

.categoryItems {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  align-items: center;
  gap: 15px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .categoryItems {
    max-width: 100%;
    white-space: initial;
  }
}

.categoryItem {
  aspect-ratio: 1/1;
  border-radius: 500px;
  background-color: #df6c2d;
  align-self: stretch;
  margin: auto 0;
  padding: 107px 31px 20px;
  overflow: hidden;
  width: 142px;
  height: 142px;
}

.categoryItems .categoryItem:first-child,
.categoryItems .categoryItem:last-child {
  padding: 107px 51px 20px;
}

@media (max-width: 991px) {
  .categoryItem {
    padding: 100px 20px;
    white-space: initial;
  }
}

.categoryImage {
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
  width: 142px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

/* Recipe Section */
.recipeSection {
  max-width: 1280px;
  padding-bottom: 45px;
  justify-content: center;
  align-items: stretch;
  align-self: center;
  display: flex;
  width: 1280px;
  flex-direction: column;
  overflow: hidden;
}

.recipeGrid {
  display: flex;
  width: 100%;
  align-items: start;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .recipeGrid {
    max-width: 100%;
  }
}

.recipeCard {
  border-radius: 30px;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  position: relative;
  min-width: 240px;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
  width: 320px;
}

.recipeImageContainer {
  z-index: 0;
  width: 100%;
}

.recipeImage {
  aspect-ratio: 1.81;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.recipeContent {
  justify-content: center;
  align-items: stretch;
  z-index: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  text-align: center;
  padding: 25px 40px;
}

@media (max-width: 991px) {
  .recipeContent {
    padding: 25px 20px;
  }
}

.recipeTitle {
  color: #423c3a;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.recipeDescription {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
  margin: 15px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.favoriteIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 55px;
  position: absolute;
  z-index: 0;
  right: 13px;
  top: 14px;
  height: 55px;
}

/* Pagination */
.paginationSection {
  display: flex;
  min-height: 173px;
  width: 100%;
  padding: 42px 0 81px;
  flex-direction: column;
  align-items: center;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #faf8f9;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .paginationSection {
    max-width: 100%;
    white-space: initial;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: start;
}

@media (max-width: 991px) {
  .pagination {
    max-width: 100%;
    white-space: initial;
  }
}

.paginationArrow {
  aspect-ratio: 0.69;
  object-fit: contain;
  object-position: center;
  width: 11px;
  stroke-width: 5px;
  stroke: #df6c2d;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.paginationItem {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 50px;
}

@media (max-width: 991px) {
  .paginationItem {
    white-space: initial;
  }
}

.paginationButton {
  border-radius: 100px;
  background-color: #eeb392;
  align-self: stretch;
  margin: auto 0;
  width: 50px;
  padding: 0 5px;
  overflow: hidden;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .paginationButton {
    white-space: initial;
  }
}

.paginationButtonActive {
  border-radius: 100px;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.05);
  background-color: #ff5a00;
  color: #fff;
}

/* Featured Section */
.featuredSection {
  justify-content: center;
  align-items: center;
  background-color: #df6c2d;
  display: flex;
  width: 100%;
  padding: 80px 0;
  flex-direction: column;
  overflow: hidden;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #423c3a;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 991px) {
  .featuredSection {
    max-width: 100%;
    white-space: initial;
  }
}

.featuredGrid {
  display: flex;
  align-items: center;
  gap: 40px 54px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .featuredGrid {
    max-width: 100%;
    white-space: initial;
  }
}

.featuredCard {
  justify-content: center;
  align-items: stretch;
  border-radius: 30px;
  background-color: #fff;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  flex-direction: column;
  overflow: hidden;
  width: 259px;
}

@media (max-width: 991px) {
  .featuredCard {
    white-space: initial;
  }
}

.featuredImage {
  aspect-ratio: 1.3;
  object-fit: contain;
  object-position: center;
  width: 100%;
  min-height: 200px;
}

.featuredTitle {
  align-self: stretch;
  flex: 1;
  margin-top: 25px;
  width: 100%;
  padding: 0 25px 25px;
}

@media (max-width: 991px) {
  .featuredTitle {
    padding: 0 20px 25px;
    white-space: initial;
  }
}

/* Footer */
.footer {
  justify-content: space-between;
  align-items: center;
  background-color: #423c3a;
  z-index: 0;
  display: flex;
  min-height: 400px;
  width: 100%;
  padding: 0 320px;
}

@media (max-width: 991px) {
  .footer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.footerContainer {
  max-width: 1280px;
  justify-content: space-between;
  align-items: stretch;
  align-self: stretch;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  min-height: 348px;
  width: 100%;
  gap: 40px 100px;
  overflow: hidden;
  flex-wrap: wrap;
  flex: 1;
}

@media (max-width: 991px) {
  .footerContainer {
    max-width: 100%;
  }
}

.footerLeft {
  display: flex;
  min-width: 240px;
  padding: 45px 0;
  flex-direction: column;
  align-items: stretch;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  justify-content: center;
  width: 457px;
}

@media (max-width: 991px) {
  .footerLeft {
    max-width: 100%;
  }
}

.footerThankYou {
  color: #fff5ee;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .footerThankYou {
    max-width: 100%;
  }
}

.footerFeedback {
  margin-top: 20px;
  min-height: 191px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: 0.48px;
}

@media (max-width: 991px) {
  .footerFeedback {
    max-width: 100%;
    white-space: initial;
  }
}

.feedbackText {
  color: #fff5ee;
}

@media (max-width: 991px) {
  .feedbackText {
    max-width: 100%;
  }
}

.feedbackInput {
  justify-content: end;
  align-items: stretch;
  border-radius: 15px;
  background-color: rgba(250, 248, 249, 0.45);
  display: flex;
  margin-top: 15px;
  width: 100%;
  padding: 10px 17px 15px 15px;
  gap: 20px;
  overflow: hidden;
  color: #faf8f9;
  flex: 1;
  height: 100%;
}

@media (max-width: 991px) {
  .feedbackInput {
    max-width: 100%;
    white-space: initial;
  }
}

.feedbackInput span {
  flex: 1;
}

.sendIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  align-self: end;
  flex-shrink: 0;
}

.footerRight {
  display: flex;
  min-width: 240px;
  padding: 45px 0;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

.faqButton {
  border-radius: 71.97px;
  box-shadow: 0px 0px 0px 10.795px rgba(0, 0, 0, 0.05);
  background-color: #df6c2d;
  overflow: hidden;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 26px;
  color: #faf8f9;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  padding: 25px 60px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .faqButton {
    padding: 25px 20px;
    white-space: initial;
  }
}

.socialIcons {
  display: flex;
  margin-top: 40px;
  align-items: end;
  gap: 12px;
  justify-content: start;
}

.socialIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 79px;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

.socialIconPlaceholder {
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  width: 79px;
}

.socialIconCircle {
  background-color: #ececec;
  border-radius: 50%;
  display: flex;
  width: 79px;
  flex-shrink: 0;
  height: 79px;
  fill: #ececec;
}

/* Navbar */
.navbar {
  position: absolute;
  z-index: 1;
  width: 1920px;
  right: 0;
  top: 0;
}

@media (max-width: 991px) {
  .navbar {
    max-width: 100%;
  }
}

.navbarInner {
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 991px) {
  .navbarInner {
    max-width: 100%;
  }
}

.navInner {
  display: flex;
  min-height: 80px;
  width: 1280px;
  max-width: 1280px;
  align-items: stretch;
  gap: 40px 200px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .navInner {
    max-width: 100%;
  }
}

.navLeftGroup {
  display: flex;
  min-width: 240px;
  align-items: stretch;
  gap: 40px;
  font-family:
    "Noto Sans TC",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 20px;
  color: #423c3a;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  justify-content: start;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
}

@media (max-width: 991px) {
  .navLeftGroup {
    max-width: 100%;
    white-space: initial;
  }
}

.logoImage {
  aspect-ratio: 0.67;
  object-fit: contain;
  object-position: center;
  width: 38px;
  margin: auto 0;
  flex-shrink: 0;
}

.navBtnGroup {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 18px;
  justify-content: start;
  height: 100%;
  flex: 1;
}

@media (max-width: 991px) {
  .navBtnGroup {
    max-width: 100%;
    white-space: initial;
  }
}

.navBtn {
  border-radius: 100px;
  background-color: rgba(223, 108, 45, 0);
  margin: auto 0;
  padding: 8px 14px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navBtn {
    white-space: initial;
  }
}

.navRightGroup {
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 15px;
  justify-content: end;
  flex-wrap: wrap;
  height: 100%;
  flex: 1;
}

@media (max-width: 991px) {
  .navRightGroup {
    max-width: 100%;
  }
}

.searchBar {
  min-width: 200px;
  max-width: 300px;
  border-radius: 200px;
  background-color: #faf8f9;
  align-self: stretch;
  display: flex;
  margin: auto 0;
  width: 300px;
  flex-shrink: 1;
  height: 49px;
  padding: 12px 0;
  gap: 10px;
  flex: 1;
}

.cartIcon {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 45px;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.userIcon {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 33px;
  fill: #df6c2d;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}
