@use 'variables' as vars; // Sass 會自動尋找名為 _variables.scss 的檔案

// 按鈕樣式

// 👇Footer 那邊的社群軟體icon有使用
@mixin button-icon {
  color: #fff;
  background: vars.$color-accent;
  border: none;
  border-radius: 9rem;
  font-size: vars.$font-size-icon;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 13px;
  top: 14px;
  height: 55px;
  width: 55px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #c55a24;
  }
}

// 👇文字圓角按鈕
